<div>
  <p><a href="/"><img src="/icons/hp-logo.svg" alt="HP">HP</a></p>
</div>
<div>
  <ul>
    <li>
      <p><a href="/laptops-and-2-in-1s">Laptops</a></p>
      <ul>
        <li><a href="https://www.hp.com/us-en/shop/slp/weekly-deals/laptops">Laptop Deals</a></li>
        <li><a href="/software/microsoft-copilot-pcs-for-home">AI PCs &amp; Copilot+ PCs</a></li>
        <li><a href="https://www.hp.com/us-en/shop/cat/laptops?SeriesName=HP+OmniBook">OmniBook Laptops</a></li>
        <li><a href="https://www.hp.com/us-en/shop/cat/laptops">Laptops for Home</a></li>
        <li><a href="https://www.hp.com/us-en/shop/cat/business-laptops">Laptops for Work</a></li>
        <li><a href="https://www.hp.com/us-en/shop/cat/laptops?Platform=Gaming">Gaming Laptops</a></li>
        <li><a href="https://www.hp.com/us-en/shop/cat/mobile-workstations">Mobile Workstations</a></li>
      </ul>
    </li>
    <li>
      <p><a href="/desktops">Desktops</a></p>
      <ul>
        <li><a href="https://www.hp.com/us-en/shop/slp/weekly-deals/desktops">Desktop Deals</a></li>
        <li><a href="https://www.hp.com/us-en/shop/cat/desktops?SeriesName=HP+OmniDesk">OmniDesk PCs</a></li>
        <li><a href="https://www.hp.com/us-en/shop/cat/desktops">Desktops for Home</a></li>
        <li><a href="https://www.hp.com/us-en/shop/cat/business-desktops">Desktops for Work</a></li>
        <li><a href="https://www.hp.com/us-en/shop/cat/desktops?Platform=Gaming">Gaming Desktops</a></li>
        <li><a href="https://www.hp.com/us-en/shop/cat/workstations">Workstations</a></li>
      </ul>
    </li>
    <li>
      <p><a href="/printers">Printers</a></p>
      <ul>
        <li><a href="https://www.hp.com/us-en/shop/slp/weekly-deals/printers">Printer Deals</a></li>
        <li><a href="/printers/smart-tank">Smart Tank Printers</a></li>
        <li><a href="https://www.hp.com/us-en/shop/cat/printers?Segment=Home">Home Printers</a></li>
        <li><a href="https://www.hp.com/us-en/shop/cat/printers?Segment=Business">Office Printers</a></li>
        <li><a href="https://www.hp.com/us-en/shop/cat/ink--toner---paper">Ink, Toner &amp; Paper</a></li>
        <li><a href="/all-in-plan/printers">All-In Plan</a></li>
      </ul>
    </li>
    <li>
      <p><a href="https://www.hp.com/us-en/shop/cat/accessories-88342--1">Accessories</a></p>
      <ul>
        <li><a href="https://www.hp.com/us-en/shop/cat/monitors">Monitors</a></li>
        <li><a href="https://www.hp.com/us-en/shop/cat/mice-and-keyboards">Mice &amp; Keyboards</a></li>
        <li><a href="https://www.hp.com/us-en/shop/cat/headsets-speakers-accessories">Audio</a></li>
        <li><a href="https://www.hp.com/us-en/shop/cat/cases-and-bags">Cases &amp; Bags</a></li>
        <li><a href="https://www.hp.com/us-en/shop/cat/docking-stations">Docking Stations</a></li>
        <li><a href="https://www.hp.com/us-en/shop/slp/weekly-deals/accessories">Accessory Deals</a></li>
      </ul>
    </li>
    <li>
      <p><a href="/all-in-plan">Subscriptions</a></p>
      <ul>
        <li><a href="/all-in-plan/printers">All-In Plan Printers</a></li>
        <li><a href="/all-in-plan/laptops">All-In Plan Laptops</a></li>
        <li><a href="https://www.hp.com/us-en/shop/cv/instant-ink">Instant Ink</a></li>
      </ul>
    </li>
    <li>
      <p><a href="/business-solutions">Business Solutions</a></p>
      <ul>
        <li><a href="/business-solutions/services-solutions">Services &amp; Solutions</a></li>
        <li><a href="https://www.hp.com/us-en/shop/cat/business-laptops">Business Laptops</a></li>
        <li><a href="https://www.hp.com/us-en/shop/cat/business-desktops">Business Desktops</a></li>
        <li><a href="https://www.hp.com/us-en/shop/cat/printers?Segment=Business">Business Printers</a></li>
        <li><a href="/business-solutions/managed-print-services">Managed Print Services</a></li>
      </ul>
    </li>
    <li>
      <p><a href="https://support.hp.com/us-en">Support</a></p>
      <ul>
        <li><a href="https://support.hp.com/us-en/drivers">Software &amp; Drivers</a></li>
        <li><a href="https://support.hp.com/us-en/check-warranty">Check Warranty</a></li>
        <li><a href="https://support.hp.com/us-en/contact">Contact Support</a></li>
        <li><a href="https://support.hp.com/us-en/computer">Computer Support</a></li>
        <li><a href="https://support.hp.com/us-en/printer">Printer Support</a></li>
      </ul>
    </li>
  </ul>
</div>
<div>
  <ul>
    <li><a href="/tools/widgets/toggle"><span class="icon icon-toggle"></span>Menu</a></li>
  </ul>
</div>
