<div>
  <p><strong>About Us</strong></p>
  <ul>
    <li><a href="/hp-information">Company Information</a></li>
    <li><a href="/newsroom">Newsroom</a></li>
    <li><a href="https://investor.hp.com/">Investor Relations</a></li>
    <li><a href="/sustainable-impact">Sustainable Impact</a></li>
    <li><a href="https://jobs.hp.com/">Careers</a></li>
    <li><a href="/contact-hp/overview">Contact HP</a></li>
  </ul>
  <p><strong>Ways to buy</strong></p>
  <ul>
    <li><a href="https://www.hp.com/us-en/shop">Shop Online</a></li>
    <li><a href="https://www.hp.com/us-en/shop/cv/hp-sales-certified">Call to Order</a></li>
    <li><a href="https://www.hp.com/us-en/shop/cv/authorized-resellers">Resellers</a></li>
    <li><a href="https://h20386.www2.hp.com/USSMBStore/hho/Index">Enterprise Store</a></li>
    <li><a href="https://www.hp.com/us-en/shop/cv/hp-public-sector">Public Sector</a></li>
  </ul>
  <p><strong>Support</strong></p>
  <ul>
    <li><a href="https://support.hp.com/us-en/drivers">Software &amp; Drivers</a></li>
    <li><a href="https://support.hp.com/us-en">Product Support</a></li>
    <li><a href="https://www.hp.com/us-en/shop/cv/ordersupport">Order Support</a></li>
    <li><a href="https://support.hp.com/us-en/check-warranty">Check Warranty</a></li>
    <li><a href="https://support.hp.com/us-en/contact">Contact Support</a></li>
  </ul>
  <p><strong>HP Partners</strong></p>
  <ul>
    <li><a href="/hp-information/partners-and-programs">HP Partner Programs</a></li>
    <li><a href="/developers">Developers</a></li>
    <li><a href="https://h20614.www2.hp.com/edigsearch/locale?cmd=search_selector&amp;cc=us&amp;lc=en">Where to Buy</a></li>
  </ul>
  <p><strong>Stay connected</strong></p>
  <ul>
    <li><a href="https://www.facebook.com/HP">Facebook</a></li>
    <li><a href="https://twitter.com/HP">X</a></li>
    <li><a href="https://www.linkedin.com/company/hp">LinkedIn</a></li>
    <li><a href="https://www.instagram.com/hp/">Instagram</a></li>
    <li><a href="https://www.youtube.com/hp">YouTube</a></li>
  </ul>
</div>
<div>
  <ul>
    <li><a href="/hp-information/recalls">Recalls</a></li>
    <li><a href="/hp-information/sustainable-impact/planet-product-recycling">Product recycling</a></li>
    <li><a href="/hp-information/accessibility-aging">Accessibility</a></li>
    <li><a href="https://h20195.www2.hp.com/v2/GetDocument.aspx?docname=c05388050">CA Supply Chains Act</a></li>
    <li><a href="/privacy/privacy-central">Privacy</a></li>
    <li><a href="https://www.hp.com/us-en/privacy/your-privacy-choices.html">Your privacy choices</a></li>
    <li><a href="/terms-of-use">Terms of use</a></li>
    <li><a href="https://support.hp.com/us-en/document/ish_13063204-13063227-16">Limited warranty statement</a></li>
    <li><a href="https://www.hp.com/us-en/shop/cv/termsandconditions">Terms &amp; conditions</a></li>
    <li><a href="https://h20195.www2.hp.com/v2/GetDocument.aspx?docname=c09169992">IP Notices</a></li>
    <li><a href="https://compliance-euda.hp.com/us/en/">EU Data Act</a></li>
  </ul>
</div>
<div>
  <p>&copy;2026 HP Development Company, L.P. The information contained herein is subject to change without notice.</p>
</div>
